.img{
    width: 250px;
    margin: auto;
    margin-top: 100px;
}

.text{
    margin-top: var(--spacing-large);
    font-size: var(--font-size-subheader);
    color:var(--color-white);
    text-align: center;
}