.text{
    width: 600px;
    margin: auto;
    margin-top: 100px;
    line-height: 1.7;
    color: var(--color-yellow);
    font-size: var(--font-size-header);
    text-align: center;
    text-shadow: 0 0 2px var(--color-white);
    -webkit-text-stroke-color: var(--color-yellow);
    -webkit-text-stroke-width: .5px;
    -webkit-text-fill-color: transparent;
}