:root {
  --color-white: #fff;
  --color-black: #000;
  --color-yellow: #ffff00;
  --color-dark-gray: #10100e;

  --color-blue: #6a83fb;
  --color-violet: #ae72c2;

  --spacing-medium: 20px;
  --spacing-large: 30px;

  --font-size-main: 16px;
  --font-size-subheader: 18px;
  --font-size-header: 26px;

  --max-width:1200px;

  --width-max: 1200px;

  --font-bold: 600;
  --transition: 0.4s;
  --font-family-main: sans-serif;

  --border-radius-small: 3px;

  --text-shadow-yellow: 0 0 2px var(--color-white), 0 0 40px var(--color-blue);

  --theme-default-header: #cccc46;
  --theme-default-bgimage: url(@static/bg.jpg);
}

body {
  margin: 0;
  padding: 0;
  background-color: #10100e;
  font-family: --font-family-main;
  font-size: var(--font-size-main);
  background-image: var(--theme-default-bgimage);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

img {
  display: block;
}

.header__text {
  line-height: 1.7;
  font-size: var(--font-size-header);
  text-shadow: 0 0 2px var(--color-black);
  color: var(--theme-default-header);
  transition: color var(--transition);
}
