.wrapper{
  max-width: var(--max-width);
  margin: auto;
  padding: var(--spacing-large) 0;
}

@media screen and(max-width: 1400px){
  .wrapper{
    padding: var(--spacing-large) var(--spacing-large);
  }
}